body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

/* ejemplo de transiciones */
.item {
    background-color: tomato;
    width: 200px;
    height: 200px;
    transition: background-color 500ms ease-in-out;
    /*transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;*/
  }

  
  .item:hover {
    background: slateblue;
  }

  .texto-grande{
    transition: font-size 2s ease-out;
  }

  .texto-grande:hover{
    font-size: 24px;
  }